<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiangzhiyan.crm.dao.CustomerOrderMapper" >
  <resultMap id="BaseResultMap" type="com.jiangzhiyan.crm.vo.CustomerOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cus_id" property="cusId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="required_date" property="requiredDate" jdbcType="TIMESTAMP" />
    <result column="actual_date" property="actualDate" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cus_id, order_no, order_date, required_date, actual_date, address, create_date, 
    update_date, is_valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_customer_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_customer_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiangzhiyan.crm.vo.CustomerOrder" >
    insert into t_customer_order (id, cus_id, order_no, 
      order_date, required_date, actual_date, 
      address, create_date, update_date, 
      is_valid)
    values (#{id,jdbcType=INTEGER}, #{cusId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, 
      #{orderDate,jdbcType=TIMESTAMP}, #{requiredDate,jdbcType=TIMESTAMP}, #{actualDate,jdbcType=TIMESTAMP}, 
      #{address,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{isValid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jiangzhiyan.crm.vo.CustomerOrder" >
    insert into t_customer_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cusId != null" >
        cus_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="requiredDate != null" >
        required_date,
      </if>
      <if test="actualDate != null" >
        actual_date,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cusId != null" >
        #{cusId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="requiredDate != null" >
        #{requiredDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualDate != null" >
        #{actualDate,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiangzhiyan.crm.vo.CustomerOrder" >
    update t_customer_order
    <set >
      <if test="cusId != null" >
        cus_id = #{cusId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="requiredDate != null" >
        required_date = #{requiredDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualDate != null" >
        actual_date = #{actualDate,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiangzhiyan.crm.vo.CustomerOrder" >
    update t_customer_order
    set cus_id = #{cusId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      required_date = #{requiredDate,jdbcType=TIMESTAMP},
      actual_date = #{actualDate,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--分页查询某客户所有订单-->
  <select id="selectByParams" parameterType="com.jiangzhiyan.crm.query.CustomerOrderQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_customer_order
    where cus_id=#{cusId}
    and is_valid=1
  </select>

  <!--删除客户订单(批量,实际是更新)-->
  <update id="deleteBatch" parameterType="list">
    update t_customer_order
    set is_valid=0
    where id in
    <foreach collection="list" open="(" close=")" separator="," item="ids">
      #{ids}
    </foreach>
  </update>

  <!--查询指定cusId集合的所有订单数量-->
  <select id="selectCountByCusIds" parameterType="list" resultType="int">
    select count(1)
    from t_customer_order
    where is_valid=1 and cus_id in
    <foreach collection="list" open="(" close=")" separator="," item="cusIds">
      #{cusIds}
    </foreach>
  </select>

  <!--当客户被删除时,删除关联的订单-->
  <update id="deleteByCusIds" parameterType="java.lang.Integer">
    update t_customer_order
    set is_valid=0
    where cus_id in
    <foreach collection="list" open="(" close=")" separator="," item="cusIds">
      #{cusIds}
    </foreach>
  </update>

  <select id="selectOrderIdsByCusIds" parameterType="list" resultType="int">
    select co.id as orderId
    from t_customer_order co
    left join t_customer c
    on co.cus_id=c.id
    where co.is_valid=1 and c.is_valid=1 and c.id in
    <foreach collection="list" open="(" close=")" separator="," item="cusIds">
      #{cusIds}
    </foreach>
  </select>
</mapper>